*[b-vrn2mjqfm1] {
    padding: 0;
    margin: 0;
    font-family: 'Itim', cursive;
}

h1[b-vrn2mjqfm1] {
    text-align: center;
    margin-bottom: 10px;
}

.board[b-vrn2mjqfm1] {
    width: 33rem;
    height: 31rem;
    margin: auto;
    border: 1px solid white;
    display: flex;
    flex-wrap: wrap;
}

.square[b-vrn2mjqfm1] {
    width: 10rem;
    height: 10rem;
    border: 1px solid white;
    margin-right: 4px;
    border-radius: 30px;
    background: #edd1d4;
    opacity: 80;
}

    .square:hover[b-vrn2mjqfm1] {
        background: #4ab6d2;
        cursor: pointer;
    }

.char[b-vrn2mjqfm1] {
    font-size: 5rem;
    text-align: center;
    font-weight: 800;
    margin-top: 15%;
    color: #542d5a;
}
